<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:arg name="use_ros2_control" default="true"/>
    <xacro:arg name="sim_mode" default="false"/>

    <xacro:include filename="mws_robot.materials.xacro" />
    <xacro:include filename="inertial_macros.xacro" />
    <xacro:include filename="mws_robot_core.xacro" />


    <xacro:include filename="mws_robot.ros2_control.xacro" />


    <xacro:unless value="$(arg sim_mode)">
        <xacro:include filename="gazebo_control.xacro" />
    </xacro:unless>

    <xacro:include filename="lidar.xacro" />
    
</robot>